@model MVCApplication.ViewModels.ResultViewModel

@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>

<br />

@if (@Model.Area != 0)
{

    <p>The area of the square would be: @Model.Area</p>

}

<br />

@if (@Model.Perimeter != 0)
{

    <p>The perimeter of the square would be: @Model.Perimeter</p>

}
    <br />

    <p>@Model.Error</p><br />

